* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Ralewy', Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  background-color: white;
}

.top-section {
  background-image: url(https://templatemo.com/images/templatemo-header-9e.png);
  padding-top: 40px;
  padding-bottom: 50px;
}
.logo {
  padding-left: 40px;
}
.logo-text {
  padding-left: 50px;
  color: #fff;
  margin-bottom: 20px;
}
.top-menu {
  float: right;
  margin-right: 36px;
}
.links {
  background: linear-gradient(#fff, #d8d8d8, #fff, #fff, #c6c6c6);
  padding: 14px 22px;
  font-family: 'Ralewy', Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.6px;
  margin: 4px;
}

.content-area {
  margin: 10px;
}
.content-heading {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 32px;
  color: #009900;
  text-align: center;
  margin: 0;
  padding-top: 40px;
}
.description {
  max-width: 660px;
  font-weight: 500;
  font-size: 18px;
  line-height: 2.2em;
  color: #333;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
}
.template-preview {
  margin-top: 400px;
  text-align: center;
}
.template-box {
  background: linear-gradient(#fff, #eee, #fff, #eee);
  max-width: 910px;
  margin: 20px auto 30px auto;
  padding: 15px 30px;
  border: 1px solid #ddd;
  border-radius: 10px;
}
.tm-box-title {
  font-weight: normal;
  color: #009900;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}
.tag-link {
  color: #0066aa;
  text-decoration: none;
  font-size: 14px;
}
.tm-box-para em {
  color: #0066aa;
  font-style: normal;
  font-size: 14px;
}
.tm-box-para {
  font-size: 14px;
  line-height: 1.8em;
  margin-top: 14px;
  margin-bottom: 14px;
}
.tm-box-text {
  margin-top: 50px;
  padding-bottom: 24px;
  font-size: 14px;
}
.tm-btn {
  color: #fff;
  text-decoration: none;
  padding: 16px 30px;
  border-radius: 8px;
  font-size: 16px;
  font-family:'Raleway',Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
  margin-right: 20px;
}
.bg-green{
  background: linear-gradient(#274, #3A6);

}
.bg-blue{
  background: linear-gradient(#39C, #259);
}
.bg-gray{
  background: #727E8E;
}
