* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

.top-section{
  background-image: url(https://templatemo.com/images/templatemo-header-9e.png);
}